<div class="app" ng-app="leaves">

  <div class="toolbar"> Main bar </div>

  <div class="body" ng-controller="searchController">

    <div class="search">
      <form name="query" novalidate>
        <div class="field" ng-repeat="field in searchFields">
          <span class="fieldName">{{ field.name }}</span>
          <input type="text" ng-model="field.value">
        </div>

        <button ng-click="search()"> Go! </button>
      </form>
    </div>

    <div class="content">
      <ul class="item" ng-repeat="result in searchResults">
        <li class="fieldName">{{ result }}</li>
      </ul>
    </div>

  </div>
</div>
