<div id="app" ng-app="leaves" ng-controller="searchController">

  <div id="toolbar">
    <form id="query" novalidate ng-submit="search()">
      <input type="text" class="form-control" ng-model="query">
    <form>
  </div>

  <div id="body">

    <div id="query-builder">
      <div id="taxonomies">
        <select ng-model="taxonomy"
                ng-options="uri as t.Label[0] for (uri, t) in taxonomyList">
        </select>
      </div>

      <div id="keywords">
        <div class="field" ng-repeat="field in searchFields">
          <span class="field-name">{{ field }}</span>
        </div>
      </div>
    </div>

    <div id="content">
      <ul class="item" ng-repeat="result in searchResults">
        <li>{{ result }}</li>
      </ul>
    </div>

  </div>

</div>
