defaults: &defaults
  sparql_server: http://somethingsomething/
  leaves_prefix: http://somethingsomething/
  skos_prefix: http://somethingsomething/

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
