// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.app {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  div.toolbar {
    background-color: deepskyblue;
    flex: 0 100px;
    padding: 10px;
  }

  div.body {
    flex: 0 100%;
    display: flex;

    div.search {
      background-color: tomato;
      flex: 0 200px;
      padding: 10px;
    }

    div.content {
      background-color: gold;
      flex: 1 auto;
      padding: 10px;
    }
  }
}
