// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.app {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 800px;

  div.toolbar {
    background-color: deepskyblue;
    height: 65px;
    flex: 0 100%;
  }

  div.search {
    background-color: tomato;
    flex: 0 200px;
    height: 100%;
  }

  div.content {
    background-color: gold;
    flex: 1 auto;
  }
}
